<div class="col-sm-10 col-sm-offset-2">
	<h2>{{main.language.translation.ACCOUNT}}</h2>
</div>

<form class="form-horizontal" ng-submit="account.editAccount()">
  <div ng-show="account.accountChanged == true" class="alert alert-success col-sm-10 col-sm-offset-2" role="alert">{{main.language.translation.ACCOUNTEDIT}}</div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.FIRSTNAME}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFullName" ng-model="account.form.name.firstName" placeholder="{{main.language.translation.FIRSTNAME | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.INSERTION}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFullName" ng-model="account.form.name.insertion" placeholder="{{main.language.translation.INSERTION | lowercase}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.LASTNAME}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFullName" ng-model="account.form.name.lastName" placeholder="{{main.language.translation.LASTNAME | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.ADDRESS}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAdress" ng-model="account.form.address.address" placeholder="{{main.language.translation.ADDRESS | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.ADDRESSNUMBER}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNumber" ng-model="account.form.address.addressNumber" placeholder="{{main.language.translation.ADDRESSNUMBER | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.ADDRESINSERTION}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNumberAdd" ng-model="account.form.address.addressInsertion" placeholder="{{main.language.translation.ADDRESINSERTION | lowercase}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.POSTALCODE}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPostalCode" ng-model="account.form.address.postalCode" placeholder="{{main.language.translation.POSTALCODE | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.CITY}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCity" ng-model="account.form.address.city" placeholder="plaats" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{main.language.translation.EDIT}}</button>
    </div>
  </div>
</form>

<div class="col-sm-10 col-sm-offset-2">
	<h2>{{main.language.translation.PASSWORD}}</h2>
</div>

<form class="form-horizontal" ng-submit="account.changePassword()">
  <div ng-show="account.passwordChanged === true" class="alert alert-success col-sm-10 col-sm-offset-2" role="alert">{{main.language.translation.PASSWORDCHANGED}}</div>
  <div ng-show="account.passwordChanged === false" class="alert alert-danger col-sm-10 col-sm-offset-2" role="alert">{{main.language.translation.PASSWORDCHANGEDERROR}}</div>
 
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">{{main.language.translation.OLDPASSWORD}}</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" ng-model="account.pass.oldpassword" placeholder="{{main.language.translation.OLDPASSWORD | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">{{main.language.translation.PASSWORD}}</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" ng-model="account.pass.newpassword" placeholder="{{main.language.translation.PASSWORD | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">{{main.language.translation.REPEATPASSWORD}}</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" ng-model="account.pass.newpasswordrepeat" placeholder="{{main.language.translation.REPEATPASSWORD | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{main.language.translation.EDIT}}</button>
    </div>
  </div>
</form>
