<div ng-include="'app/template/login.template.html'"></div>

<hr />

<div class="col-sm-10 col-sm-offset-2">
	<h2>{{main.language.translation.SIGNUP}}</h2>
</div>


<form class="form-horizontal" ng-submit="account.createAccount()">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">{{main.language.translation.EMAIL}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail" ng-model="account.email" placeholder="{{main.language.translation.EMAIL | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">{{main.language.translation.PASSWORD}}</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" ng-model="account.password" placeholder="{{main.language.translation.PASSWORD | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">{{main.language.translation.REPEATPASSWORD}}</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPasswordRepeat" ng-model="account.repeatPassword" placeholder="{{main.language.translation.REPEATPASSWORD | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.FIRSTNAME}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFullName" ng-model="account.firstName" placeholder="{{main.language.translation.FIRSTNAME | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.INSERTION}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFullName" ng-model="account.nameInsertion" placeholder="{{main.language.translation.INSERTION | lowercase}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.LASTNAME}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFullName" ng-model="account.lastName" placeholder="{{main.language.translation.LASTNAME | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.ADDRESS}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAdress" ng-model="account.adress" placeholder="{{main.language.translation.ADDRESS | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.ADDRESSNUMBER}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNumber" ng-model="account.adressNumber" placeholder="{{main.language.translation.ADDRESSNUMBER | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.ADDRESINSERTION}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNumberAdd" ng-model="account.adressInsertion" placeholder="{{main.language.translation.ADDRESINSERTION | lowercase}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.POSTALCODE}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPostalCode" ng-model="account.postalCode" placeholder="{{main.language.translation.POSTALCODE | lowercase}}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFullName" class="col-sm-2 control-label">{{main.language.translation.CITY}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCity" ng-model="account.city" placeholder="plaats" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Aanmaken</button>
    </div>
  </div>
</form>
